{% extends "base.html" %}

{% from 'bootstrap4/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
        <div class="container">
		<h1>Welcome</h1>
			<p>Are you ready to discover my secret?</p>
        <!-- This is where our form will go. -->
			{{ render_form(form) }}
<!--			<form method="post" action="{{ url_for('login') }}" novalidate>-->
<!--				{{ form.csrf_token }}-->
<!--				<p>-->
<!--					{{ form.email.label }} {{ form.email(size=30) }}-->
<!--					{% for err in form.email.errors %}-->
<!--					<span style="color: red"> {{ err }} </span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				<p>-->
<!--					{{ form.password.label }} {{ form.password(size=30) }}-->
<!--					{% for err in form.email.errors %}-->
<!--					<span style="color: red"> {{ err }} </span>-->
<!--					{% endfor %}-->
<!--				</p>-->
<!--				<p>-->
<!--					{{ form.submit }}-->
<!--				</p>-->
<!--			</form>-->
        </div>
{% endblock %}