{% extends "base.html" %} {% block content %}

<div class="box">
  <h1>Login</h1>
  <!-- TODO: Use Message Flashing to display feedback to the user with a <p> -->
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <input type="text" name="email" placeholder="Email" required="required" />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" class="btn btn-primary btn-block btn-large">
      Let me in.
    </button>
  </form>
</div>
 <script>
      // Access the message passed from Flask
      var message = "{{ error }}";

      // Print the message to the browser console
      console.log(error);
  </script>

{% endblock %}
